@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.app__section-container {
    display: flex;
    justify-content: center; // Center content
    align-items: center;
    position: relative;

    .app__section-cardbox {
        width: 60%; // Occupy 60% of the container
        position: absolute;
        background-color: #ffffff;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        top: 50%;
        left: 0%; // Offset it to the left
        transform: translateY(-50%);


        @media (max-width: 1024px) {
            width: 70%; // Adjust for tablet

        }

        @media (max-width: 768px) {
            position: static; // stack normally
            width: 100%;
            transform: none;
            margin: 50px 0; // Add some margin
            box-shadow: none;
        }
    }

    .app__section-image {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column; // Stack children vertically
    }
}

.app__header {
    font-weight: 800;
    font-family: 'montserrat';
    font-size: 24px;
    text-align: center;
    padding-bottom: 1rem;

    @media (max-width: 900px) {
        margin-top: 5rem;
    }

    @media (max-width: 600px) {
        margin-top: 5rem;
    }

    @media (max-width: 400px) {
        margin-top: 5rem;
    }

}

.app__info,
.app__service-lists {
    font-family: 'montserrat';
    font-size: 14px;
    padding: 1rem 1rem;

    li {
        padding-left: 1.5rem;
        list-style: none;
    }

    @media (max-width: 900px) {
        font-size: 16px;

        li {
            padding-left: 1.5rem;
            list-style: none;
        }
    }

    @media (max-width: 600px) {
        font-size: 18px;
        padding: 0.5rem 1rem;

        li {
            padding-left: 1.5rem;
            list-style: none;
        }
    }

    @media (max-width: 400px) {
        font-size: 20px;
        padding: 0.5rem 0.5rem;

        li {
            padding-left: 1.5rem;
            list-style: none;
        }

    }
}

.app__button {
    margin-top: 1rem;
    padding: 1rem 1rem;
    background-color: #5cb25d;
    border: none;
    box-shadow: 0 0 10px rgba(162, 191, 62, 0.3);
    color: var(--white-color);
    border-radius: 15px;
    display: flex; // Make it block to occupy full width on small screens
    justify-content: center;
    text-align: center; // To center the text inside the button

    a {
        display: inline-block; // Allow padding and other properties to affect the anchor tag
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: white;
    }

    @media (max-width: 768px) {
        margin: 1rem auto;
        display: block;
    }
}