.app__footer {
    flex: 1;
    // height: 200px;
    background-color: #C41E3A;
}

.app__footer-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    line-height: 2rem;
    padding: 2rem 4rem;
    flex-wrap: wrap;
}

.app__footer-copy {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}

.app__flex-text {
    display: flex;
    flex-direction: column;
}